body {
    margin: 0;
    padding: 0;
}
.titulo {
    font-weight: 700;
    font-size: 2em;
}
.detalhes {

}
.App {
    background-color: lightblue;
    
}
.cards {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}